<div class="container-fluid py-3">
  <h3>Болезни</h3>
  <h4>Витамины</h4>
  <p class="lead">Витамины – группа разнообразных по структуре органических веществ, необходимых для нормальной жизнедеятельности организма,
    синтез которых в организме отсутствует или ограничен. Источником служит пища или кишечные бактерии.</p>
  <p class="lead">Рассмотрим некоторые из них.</p>
  <p class="lead">Витамин В1 (тиамин) – является коферментом декарбоксилаз, катализирующих декарбоксилирование кетокислот. участвует в
    выработке ацетилхолина – нейромедиатора, который оказывает влияние на несколько функций мозга, поддерживает тонус мышц сердца, желудка,
    кишечника. При недостатке тиамина нарушается нормальное превращение углеводов, наблюдается повышенное накопление в организме кетокислот.
    Цепь метаболических нарушений, вызванных недостатком тиамина в клетках, приводит к функциональным расстройствам в различных органах и
    системах. Наблюдается резкая потеря аппетита, снижение секреции желудочного сока и соляной кислоты, атонии, диарее, со стороны нервной
    системы: снижение периферической чувствительности, утратой некоторых периферических рефлексов, сильными болями по ходу нервов, судорогами,
    расстройством высшей нервной деятельности.  Характерным признаком служит резкая атрофия мышечной ткани и как следствие – снижение
    сократительной способности скелетных, сердечной и гладких мышц, иногда запрокидывание головы или искривление шеи, одышка.</p>
  <p class="lead">Витамин В2 (рибофлавин) – является коферментом дегидрогеназ, ускоряющих реакции окисления янтарной кислоты, жирных кислот,
    переноса электронов и протонов в дыхательной цепи и т.д., регулирует функционирование надпочечников, синтез и количество гормонов.
    Гиповитаминоз В2 клинически проявляется сухостью слизистых оболочек губ, трещинами, повышенным шелушением кожи, конъюктивитами,
    светобоязнью.</p>
  <p class="lead">Витамин В6 (пиридоксин) – входит в состав декарбоксилаз аминокислот и аминотрансфераз.</p>
  <p class="lead">Недостаточность этого витамина приводит к нарушениям белкового обмена, т.к. реакции переаминирования аминокислот с кетокислотами
    обеспечивают организм свободными аминокислотами, необходимыми для биосинтеза различных белков.</p>
  <p class="lead">Дефицит проявляется повышенной возбудимостью ЦНС, периодическими судорогами, истощением.</p>
  <p class="lead">Все формы чувствительны к свету.</p>
  <p class="lead">Витамин В12 (цианокобаламин) – является коферментом. Кобамидные ферменты ускоряют важнейшие реакции углеводного, липидного
    и азотистого обменов. Его недостаток приводит к нарушению кроветворения в костном мозге, вследствие чего возникает анемия.</p>
  <p class="lead">Необходим при образовании миелина, защитной оболочки нервных волокон, нейромедиаторов.</p>
  <p class="lead">Уменьшается активность витамина В12 под влиянием кислорода, ультрафиолетовых лучей, а также в щелочных и кислых средах.</p>
  <p class="lead">Однако одновременное употребление указанных соединений не всегда оказывается эффективно. Так Пиридоксин затрудняет
    превращение тиамина в биологически активную форму, а никотиновая кислота и рибофлавин разрушают его. Содержащийся в цианокобаламине
    ион кобальта разрушает тиамин, пиридоксин и рибофлавин.</p>
  <p class="lead">Зачастую дефицит именно этих витаминов приводит шиншилл к худобе, истощению, характерной «горбатости», в дальнейшем к
    снижению иммунитета, развитию различных заболеваний и дегенеративных процессов в органах.</p>
</div>
