<div class="footer-container">
  <div class="container">
    <h6 class="footer-title">On the way to perfection</h6>
    <hr />
    <div class="row">
      <div class="col-4">
        <p class="h1 site-slogan">BR Chinchillas</p>
        <hr />
        <p class="h4 site-slogan">Качество</p>
        <p class="h4 site-slogan">Опыт</p>
        <p class="h4 site-slogan">Поддержка</p>
      </div>
      <div class="col-4">
        <p class="h3">Контакты</p>
        <a href="tel:89184634410" target="_blank" class="d-block">Телефон</a>
        <a href="mailto:rada742008@yandex.ru" target="_blank" class="d-block">Почта</a>
      </div>
      <div class="col-4">
        <p class="h3">Карта сайта</p>
        <a routerLink="../" class="d-block">Главная</a>
        <a routerLink="../shop/sale" class="d-block">Купить</a>
      </div>
    </div>
  </div>
</div>
