<div class="container-fluid py-3">
  <h3>Питание</h3>
  <p class="lead">
    Корм для шиншилл делят на основной и дополнительный. В качестве отновного используют гранулированные корма различных производителей, которые
    обеспечивают потребности шиншилл в питательных веществах по минимуму.  Для большего разнообразия вводят в рацион дополнительные корма, которые
    подбирают индивидуально по потребностям животного. Так для животных не используемых в разведении подходят гранулированные корма с показателями
    белка 14-16%, жира 2-3%,  а в качестве допкорма дают сушенные фрукты и ягоды, листья различных растений и ветви плодовых деревьев с низким
    содержанием смол.</p>
  <p class="lead">
    Для животных в разведении небходимы корма с более высокими показателями белка и жиров, т.к. расход энергии и питательных веществ у них
    увеличен. Особенно важно подбирать правильно корма для беременных и лактирующих самок. т.к. от их питание зависит вес и качество потомства.
    Для них необходимо подбирать корма с показателями белок 17-20%, жир 3-5%, соотношение кальций/фосфор 1,8-2. Пища должна быть богата железом,
    медью, селеном, витаминами. Сено лучше использовать бобовое или бобово-злаковое.</p>
  <p class="lead">
    Ниже будут представлены списки растений с указанием съедобных для шиншилл частей. Следует только помнить, что не стоит давать только один вид
    постоянно и в больших количествах. Все добавки к основному рациону не должны превышать 2г в сутки/голову. Также необходимо регулярно давать
    животным витамины, особенно группы В.</p>

  <h4 class="text-center">Список трав, которые полезно давать шиншиллам в сушенном виде</h4>
  <ul class="list-group">
    <li class="list-group-item">Одуванчика весь</li>
    <li class="list-group-item">Крапива лист и стебель</li>
    <li class="list-group-item">Подорожника лист</li>
    <li class="list-group-item">Лопуха лист</li>
    <li class="list-group-item">Яблоня вся</li>
    <li class="list-group-item">Айва вся</li>
    <li class="list-group-item">Спорыш трава</li>
    <li class="list-group-item">Звезчатка трава</li>
    <li class="list-group-item">Шелковица лист</li>
    <li class="list-group-item">Цикорий весь</li>
    <li class="list-group-item">Вика трава</li>
    <li class="list-group-item">Буркунец трава</li>
    <li class="list-group-item">Гранат лист</li>
    <li class="list-group-item">Смородина лист</li>
    <li class="list-group-item">Малина лист</li>
    <li class="list-group-item">Земляника лист</li>
    <li class="list-group-item">Ежевика лист</li>
  </ul>

  <h4 class="text-center mt-2">Список ягод</h4>
  <ul class="list-group">
    <li class="list-group-item">Малина</li>
    <li class="list-group-item">Ежевика</li>
    <li class="list-group-item">Смородина любая</li>
    <li class="list-group-item">Черника</li>
    <li class="list-group-item">Айва</li>
    <li class="list-group-item">Груша</li>
    <li class="list-group-item">Изюм</li>
    <li class="list-group-item">Яблоко</li>
    <li class="list-group-item">Кизил</li>
    <li class="list-group-item">Земляника</li>
    <li class="list-group-item">Клюква</li>
    <li class="list-group-item">Боярышник</li>
    <li class="list-group-item">Шиповник</li>
    <li class="list-group-item">Рябина</li>
    <li class="list-group-item">Калина</li>
  </ul>

  <h4 class="text-center mt-2">Зерновые (предпочтительно в смеси)</h4>
  <ul class="list-group">
    <li class="list-group-item">Гречка</li>
    <li class="list-group-item">Кукуруза</li>
    <li class="list-group-item">Горох</li>
    <li class="list-group-item">Чечевица</li>
    <li class="list-group-item">Пшеница</li>
    <li class="list-group-item">Овес или геркулес</li>
    <li class="list-group-item">Ячмень</li>
    <li class="list-group-item">Просо красное</li>
    <li class="list-group-item">Семя льна</li>
    <li class="list-group-item">Тыквы семя</li>
  </ul>

  <p class="lead mt-2">
    Если в корме показатели жиров не высокие (менее 2,5г/100гкорма), то допустимо добавление в рацион в очень небольших количествах семян
    подсолнечника, арахиса, фундука и других масляничных культур.
  </p>
</div>
