<a data-morphing-confirm id="morphing" data-src="#morphing-content" class="btn btn-warning">Условия покупки</a>

<div id="morphing-content" class="hidden">
  <h4>
    Информация для покупателей:
  </h4>
  <p>
    С 14августа 2017г вводится дополнительное условие на приобретение животного в питомнике BRIS Chinchillas:
  </p>
  <p>
    при возврате животного по причинам независящим от продавца взымается оплата 10% за каждый день пребывания зверя у покупателя. Правило вводится для защиты животных от безответственных покупателей, использующих их в качестве игрушки на короткий срок. Просьба подойти с пониманием к нововведению. Вся информация в любом объеме предоставляется по требованию до покупки.
  </p>
  <p>
    Подходите к приобретению животных ответственно!
  </p>
</div>
