<section class="section-container container-fluid">
  <div class="row" style="height: 100%">
    <div class="col-6 p-0 d-none d-lg-block">
      <div class="about-image"></div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="text-background"></div>

      <div class="text-container pb-4">
        <h2 class="text-center py-2">О питомнике</h2>
        <p class="text-about">Шиншиллы покорили меня с первых минут знакомства неповторимым ощущением нежности, которое возникает, когда берешь в руки эти меховые комочки. Ни одно другое животное в мире не обладает такой удивительной шерстью, когда миллионы тончайчих волосков образуют плотную, но мягкую "подушку". Именно поэтому в племенной работе особое внимание уделяется качеству меха.
          В нашем питомнике Вы можете купить шиншиллу как для разведения, так и для души, получить консультацию по кормлению, содержанию, генетике. Мы внимательно следим за животными с первых минут их жизни, что гарантирует Вам получение здорового и ухоженного зверька.
          Мы предоставим любую интересующую Вас информацию и также будем рады увидеть Вас лично, чтобы продемонстрировать шиншилленка. Звоните или пишите, будем рады познакомиться с Вами. Все вопросы и пожелания Вы можете оставить в разделе "Контакты". </p>

        <a routerLink="/shop/sale" class="section-button to-purchase">Приобрести шиншилл</a>
      </div>
    </div>
  </div>
</section>
