<div class="container-fluid">
  <div class="row">
    <div class="d-none d-md-block col-3"></div>
    <div class="col-12 col-md-6">
      <div class="card mt-5">
        <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
          <label class="btn btn-primary-outline active w-50" (click)="isSingInOrUp = 1">
            <input type="radio" name="sing" autocomplete="off" checked> Вход
          </label>
          <label class="btn btn-primary-outline w-50" (click)="isSingInOrUp = 2">
            <input type="radio" name="sing" autocomplete="off"> Регистрация
          </label>
        </div>

        <div *ngIf="isSingInOrUp === 1" class="row p-3">
          <div class="col-12">
            <label for="singInEmail">
              Email
            </label>
            <input type="text" class="form-control" id="singInEmail" placeholder="Email">
          </div>
          <div class="col-12">
            <label for="singInPassword">Пароль</label>
            <input type="text" class="form-control" id="singInPassword" placeholder="Пароль">
          </div>
        </div>

        <form *ngIf="isSingInOrUp === 2" [formGroup]="formGroupController" class="row p-3">
          <div class="col-12">
            <label for="singUpFirstName" class="w-100">
              Имя
              <span class="invalid-feedback d-inline"
                   *ngIf="formGroupController.get('firstName').hasError('required') && formGroupController.get('firstName').touched">
                Имя не может быть пустым
              </span>
            </label>
            <input type="text" class="form-control" id="singUpFirstName" placeholder="Имя" formControlName="firstName"
                   [class.is-valid]="!formGroupController.get('firstName').hasError('required') && formGroupController.get('firstName').touched"
                   [class.is-invalid]="formGroupController.get('firstName').hasError('required') && formGroupController.get('firstName').touched">
          </div>
          <div class="col-12">
            <label for="singUpLastName" class="w-100">
              Фамилия
              <span class="invalid-feedback d-inline"
                   *ngIf="formGroupController.get('lastName').hasError('required') && formGroupController.get('lastName').touched">
                Фамилия не может быть пустой
              </span>
            </label>
            <input type="text" class="form-control" id="singUpLastName" placeholder="Фамилия" formControlName="lastName"
                   [class.is-valid]="!formGroupController.get('lastName').hasError('required') && formGroupController.get('lastName').touched"
                   [class.is-invalid]="formGroupController.get('lastName').hasError('required') && formGroupController.get('lastName').touched">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
